<!DOCTYPE html>
<html lang="en">
<head>
 
<!-- include partials/head -->


    <title>Your Tasks</title>
    <meta charset="utf-8">
    <meta name="active-menu" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta http-equiv="refresh" content="30">


    <style>
      table,th,tr,td{
        padding:5px 5px 5px 5px;
        border:solid black 1px;
      }
      </style>
</head>
<body>

<!-- include partials/menu -->

  
  <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">LOGO</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">HOME</a></li>
              <li id="add"><a href="/add">CREATE</a></li>
              <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
          </div>
        </div>
      </nav>

     


<div class="container-fluid bg-3 text-center">  
  
  <div align = "center">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
              Description
          </th>
            <th>
                ID
            </th>
        </tr>
    
    <%tasks.forEach((task)=> {%>
     
      <tr>
        <td>
            <%=task.title%>
        </td>
        <td>
          <%=task.description%>
      </td>
        <td>
            <a href='/<%=task._id%>'>Edit</a>
        </td>
        <td>
          <a href='/<%=task._id%>/delete%>'>Delete</a>
      </td>
      
      </tr>
    <% })%> 
    
    </table>
    
  </div>
    
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../public/javascripts/menu.js"></script>

<!-- include partials/script -->

</html>