<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rutine - Add Task</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--===============================================================================================-->
<style>
.navbar{
	background-color: #029a62;
	padding-bottom: 10px;
}

#title{
	color:black;
}

#homeBtn, #createBtn, #loginBtn{
	color:black;
}



body{
	background: #91c9d5;
    background: -webkit-linear-gradient(left, #c5f4ff,#c5f4ff);
    background: -o-linear-gradient(left, #c5f4ff, #c5f4ff);
    background: -moz-linear-gradient(left, #c5f4ff, #c5f4ff);
	background: linear-gradient(left, #c5f4ff, #c5f4ff);
	
	padding-top:0px;
	padding-left: 0px;
	padding-right: 0px;
    
   }


   #mainContent{
	   position:inherit;
	   bottom:200px;
   }

   #logOutBtn{
      color:black;
	}
	


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
  
   
#profileImg{
      border-radius: 50%;
    }


</style>


</head>
<body>
	<nav class="navbar navbar-default" id = "nav">
		<div class="container">
		  
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
		   
			<a class="navbar-brand" href="/logout" id = "title">Rutine</a>
			
		  </div>
		  
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
			  <li id="home"><a id = "homeBtn" href="/home">home</a></li>
			  <li id="add"><a id = "createBtn" href="/add">add task</a></li>
			  
			  <div class="dropdown">
				<li ><img id="profileImg" src="../img/img_avatar.png" alt="Avatar" width = "50px" height = "50px"></li>
				<div class="dropdown-content">
				  <a href="/settings">settings</a>
				  <a href="/logOut">log Out</a>
				  
				</div>
			  </div>
			  
			</ul>
		  </div>
		</div>
	  
	   
	  </nav>

	<div class="contact1" id = 'mainContent'>
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img id = "calImg" src="../images/img-01.png" alt="IMG" width = "800px" height="300px">
			</div>
			<form action="/add" method="POST" class="contact1-form validate-form" id = "form" autocomplete="off">
		
				<span class="contact1-form-title">
					Add Task
				</span>
			
				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<input class="input1" type="text" name="title" placeholder="Class">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input1" type="text" name="description" placeholder="Description">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Subject is required">
					<input class="input1" type="text" name="date" placeholder="Default is current date" value = '<%=date%>'>
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Due Date is required">
					<input class="input1" type="text" name="dueDate" placeholder="Due Date">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea class="input1" name="notes" placeholder="Notes"></textarea>
					<span class="shadow-input1"></span>
				</div>

				<div class="container-contact1-form-btn">
					<input type="submit" class="btn btn-success">
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
