<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

        <%- include ('./partials/fireBase.ejs') %>
   
</head>
<body>
    

    <div id="firebaseui-auth-container">Please Login To Continue</div>
    
</body>
</html>